.home__container .hero__section {
  min-height: 110vh;
  width: 100%;
  background: url("/public/assets/Home/hero__img.png") no-repeat center/cover;
  position: relative;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .home__container .hero__section {
    min-height: 120vh;
    margin-bottom: 150px;
  }
}
